.home-wrapper {
  border-top: 2px solid #222;
}

.btn {
  margin: 10px;
  border: 1px solid #61dafb;
  border-radius: 5px;
  background-color: #282c34;
  color: #61dafb;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background-color: #61dafb;
  color: #282c34;
}

.btn:active {
  background-color: #282c34;
  color: #61dafb;
}

.grid-container {
  padding: 10px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, 6em);
  grid-template-rows: repeat(6, 6em);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
