.card {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 500px;
}

.card.open .front {
  transform: rotateY(180deg);
}

.card.open .back {
  transform: rotateY(0deg);
}

.card .back {
  transform: rotateY(-180deg);
}

.card .front,
.card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: all 0.5s ease-in;
  color: white;
  background-color: #066;
  padding: 10px;
  backface-visibility: hidden;
  border: 1px solid #000;
  border-radius: 5px;
}

.no {
  opacity: 0;
  transition: 0.5s;
}

img {
  width: 100%;
  height: 100%;
  color: #fff;
}
