.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.links {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #61dafb;
  display: inline-block;
  margin: 10px;
  padding: 2px 10px 6px 10px;
  border: 1px solid #61dafb;
  background-color: #282c34;
  border-radius: 5px;
}

a:hover {
  background-color: #61dafb;
  color: #282c34;
}

a:active {
  background-color: #282c34;
  color: #61dafb;
}

.timer {
  color: #fff;
  padding: 10px;
  font-size: 20px;
}

.modal_wrapper {
  position: fixed;
  background-color: #000000bb;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_card {
  border: 1px solid #61dafb;
  border-radius: 5px;
  width: 300px;
  height: 150px;
  background-color: #282c34;
  color: #61dafb;
  padding: 15px;
  font-size: 20px;
}

input {
  margin: 25px;
}

.table_wrapper {
  margin: 0 40px;
}

.table {
  display: flex;
  /* justify-content: space-between; */
  border-bottom: 1px solid #222;
  padding: 20px 0;
  color: #ccc;
}

.header {
  color: #fff;
  font-weight: bolder;
  margin: 0 40px;
}

.table_cell-id {
  /* flex-grow: 0; */
  width: 10%;
}

.table_cell-name {
  width: 30%;
}

.table_cell-time {
  width: 30%;
}

.table_cell-date {
  width: 30%;
}
